body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;  
}

h1{
    font-size: 50px;
    
}
section{
    display: flex;
}
span{
    color: orange;
}
.helf-weith{
    width: 100%;
    padding: 2%;
}
.helf-weith image{
    text-align: justify;
    width: 40%;
    padding-left: 5%;
}
.link-button{
    text-decoration: none;
    color: beige;
    padding: 10px 40px;
    border-radius: 5px;
    background-image: linear-gradient(orange,tomato);
}
.top-bannar{
    background-image: url(iamge/Picsart_22-07-04_10-38-33-788.png);
    background-repeat: no-repeat;
    margin: 0%
}
